# Node.js ignores
node_modules/

# Prototype ignores - per-user
.tmp/
.env
migrate.log
usage-data-config.json

# General ignores
.DS_Store
.idea


# Ignore Debug build artifacts
EvChargingApp/bin/
EvChargingApp/obj/
EvChargingApp/**/*.dll
EvChargingApp/**/*.pdb
EvChargingApp/**/*.cache
EvChargingApp/**/*.sourcelink.json

# Allow source files
!EvChargingApp/**/*.cs
!EvChargingApp/**/*.csproj
!EvChargingApp/**/*.http

# Ignore Debug build artifacts
EvChargingApp.Tests/bin/
EvChargingApp.Tests/obj/
EvChargingApp.Tests/**/*.dll
EvChargingApp.Tests/**/*.pdb
EvChargingApp.Tests/**/*.cache
EvChargingApp.Tests/**/*.sourcelink.json

# Allow source files
!EvChargingApp.Tests/**/*.cs
!EvChargingApp.Tests/**/*.csproj
!EvChargingApp.Tests/**/*.http

