{% extends "layouts/main.html" %}

{% block pageTitle %}
Inelligible – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
<h1>Your application has been denied (MAYBE IN RED)</h1>
<p> This is because REASON VARIABLE DEPENDING ON QUESTION</p>
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      You are not elligible for this grant.
    </h1>

    <p>This is because this vehicle registration number is not registered as an electric vehicle in your name.</p>

   

    

  <div class="govuk-grid-column-one-third">

   

  </div>
</div>

{% endblock %}


