{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your Address– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your address
      </h1>

      <!-- Error message summary -->
      <div id="error-summary" class="govuk-error-summary" hidden>
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <ul id="error-summary-list" class="govuk-error-summary__list"></ul>
      </div>

      <form class="form" id="addressForm" action="/your-name" method="post">

        <p>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your address?
              </h1>
            </legend>

            <!-- Address Line 1 -->
            <div class="govuk-form-group" id="address-line-1-container">
              <label class="govuk-label" for="address-line-1">
                Address line 1
              </label>
              <span class="govuk-error-message" id="address-line-1-error" style="display: none;"></span>
              <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1" data-validate="true" data-error-message="Enter your address line 1">
            </div>

            <!-- Address Line 2 (Optional) -->
            <div class="govuk-form-group" id="address-line-2-container">
              <label class="govuk-label" for="address-line-2">
                Address line 2 (optional)
              </label>
              <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
            </div>

            <!-- Town or City (Optional) -->
            <div class="govuk-form-group" id="address-town-container">
              <label class="govuk-label" for="address-town">
                Town or city (optional)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
            </div>

            <!-- Country -->
            <div class="govuk-form-group" id="address-country-container">
              <label class="govuk-label" for="address-country">
                Country
              </label>
              <span class="govuk-error-message" id="address-country-error" style="display: none;"></span>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-country" name="addressCountry" type="text" data-validate="true" data-error-message="Must be England, Wales, Scotland, or Northern Ireland">
            </div>

            <!-- Postcode -->
            <div class="govuk-form-group" id="address-postcode-container">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <span class="govuk-error-message" id="address-postcode-error" style="display: none;"></span>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code" style="text-transform: uppercase;" data-validate="true" data-error-message="Enter your postcode">
            </div>

          </fieldset>
        </p>

        {{ govukButton({
          text: "Continue",
          id: "addressSubmitButton"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/validation.js"></script>
{% endblock %}
