{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vehicle Registration Number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your vehicle registration number?
      </h1>

      <!-- Error message placeholder -->
      <div id="error-message" class="govuk-error-summary" hidden>
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <ul class="govuk-error-summary__list">
          <li>
            <a href="#vehicleRegistrationNumber">Enter your vehicle registration number</a>
          </li>
        </ul>
      </div>

      <form class="form" id="vrnForm" action="/ev-answer" method="post">

        <div class="govuk-form-group" id="vehicleRegistrationNumber-container">
          <label class="govuk-label" for="vehicleRegistrationNumber">
            Vehicle Registration Number
          </label>
          <span class="govuk-error-message" id="vehicleRegistrationNumber-error" style="display: none;"></span>
          <input
            class="govuk-input input-upper"
            id="vehicleRegistrationNumber"
            name="vehicleRegistrationNumber"
            type="text"
            style="text-transform: uppercase;"
            data-validate="true"
            data-error-message="Enter your vehicle registration number"
          >
        </div>

        {{ govukButton({
          text: "Continue",
          id: "vrnSubmitButton"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/validation.js"></script>
{% endblock %}
